.loading-page {
    @apply min-w-full h-screen flex justify-center items-center;
}

@keyframes giroInfinito {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    @apply w-auto h-auto;
    display: block;
    animation: giroInfinito 1s infinite;
}
