.welcome-page {
  @apply p-4 flex w-full h-full justify-center items-center;
}

.welcome-page p {
  color: var(--primary);
  text-shadow: 1px 1px 2px #00000080;
  @apply text-center text-xl uppercase font-bold mt-6 mb-6;
}

.result-search {
  max-height: 500px;
  overflow-x: auto;
  @apply bg-white p-2 rounded drop-shadow-md;
}
