<div class="welcome-page">
    <trade-loading *ngIf="loading"></trade-loading>

    <ng-container *ngIf="countries.length && !loading; else elseBlock">
        <div class="container-countries">
            <trade-title>Escolha um País e conheça suas ligas</trade-title>

            <div class="archive-countries">
                <div *ngFor="let country of countries">
                    <trade-card-country
                        [country]="country"
                        (countryChange)="goToCountry($event)"
                    ></trade-card-country>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #elseBlock>
        <p *ngIf="!loading" class="empty">
            Não foi possivel localizar nenhum país
        </p>
    </ng-template>
</div>
